<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #f8b58a"
>
  <div class="container-fluid" style="color: white">
    <a class="navbar-brand" href="#"
      ><i class="fas fa-expand-arrows-alt"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link active" aria-current="page" href="/"
          ><i class="fas fa-home"></i> Home</a
        >
        <a class="nav-link" href="/works"
          ><i class="fas fa-code-branch"></i> Works</a
        >
        <a class="nav-link" href="/contact"
          ><i class="far fa-address-book"></i> Contact</a
        >
      </div>
    </div>
  </div>
</nav>
