<%- include("partials/header.ejs") %>
<!-- Navbar -->
<%- include("partials/navbar.ejs") %>

<section
  class="container-fluid mb-5 pb-5 pt-5"
  style="background-color: #f8b58a"
>
  <div class="container-lg pb-5 pt-5">
    <div class="contact-page">
      <div class="contact-image mb-5">
        <img src="../photos/undraw_questions_re_1fy7.svg" alt="quesiton.png" />
      </div>
      <div class="contact-title text-center">
        <div class="contact-header">
          <h1 class="h2" style="color: white">Want to reach out?</h1>
        </div>
        <div class="contact-method">
          <p class="fs-5" style="color: white">
            You can reach me at any of the following options belows!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- CONTACT SECTION -->
<section class="container-fluid mb-5 pb-5 mt-5 pt-5">
  <div class="container-lg">
    <div class="row">
      <div class="col-md-6 mt-5">
        <!--GET THE LOGOS FROM FONT AWESOME-->
        <div class="twitter-contact text-center">
          <h1 class="h3" style="color: #760006">Twitter Contact</h1>
          <a
            class="btn btn-social btn-twitter mt-3 mb-3"
            href="www.twitter.com"
            target="_blank"
            ><span class="fab fa-twitter"></span>Follow my twitter</a
          >
        </div>
        <div class="linkedin-contact mt-5 text-center">
          <h1 class="h3" style="color: #760006">Linkedin Contact</h1>
          <a
            class="btn btn-social btn-linkedin mt-3 mb-3"
            href="www.linkedin.com"
            target="_blank"
            ><span class="fab fa-linkedin"></span>Add me on Linkedin</a
          >
        </div>
        <div class="email-contact mt-5 text-center">
          <h1 class="h3" style="color: #760006">Email Contact</h1>
          <a
            class="btn btn-social btn-google fs-6 mt-3 mb-3"
            href="mailto:autodrivesupport@gmail.com"
            target="_blank"
            ><span class="fab fa-google"></span>Send me an email</a
          >
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <img
          style="width: 100%"
          src="../photos/undraw_email_campaign_re_m6k5.svg"
          alt="mail.svg"
        />
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer.ejs") %>
