<%- include("partials/header.ejs") %>
<!-- Navbar -->
<%- include("partials/navbar.ejs") %>

<!--Banner-->
<section class="container-fluid pb-5 pt-5" style="background-color:#F8B58A">
    <div class="container-lg mt-5 mb-5 pb-5 pt-5">
        <div class="banner-title">
            <h1 class="text-center h1" style="color:white"> Web Development Portfolio </h1>
        </div>
        <div class="banner-subTitle text-center">
            <p class="fs-4" style="color:white"> Kofi Boateng </p>
        </div>
        <div class="banner-image">
            <img src="../photos/undraw_programming_-2-svr.svg" alt="program.png">
        </div>
    </div>
</section>
<!--Descriprion-->
<section class="container-fluid pb-5 pt-5" id="biography">
    <div class="container-lg mt-5 mb-5 pb-5 pt-5">
        <div class="bio-img text-center mb-5">
            <img src="../photos/pfp3.png" alt="me.png">
        </div>
        <div class="bio-title mb-3">
            <h1 class="h2 text-center" style="color:#760006">Who am I</h1>
        </div>
        <div class="bio-content">
            <p class="fs-5" style="color:#760006"> I am a web developer who doubles as a cyber security specialist. I have experience working with most modern javascript front-end and back-end frameworks, as well as python back-end frameworks as well. </p>
        </div>
    </div>
</section>
<!--What I can do-->
<section class="container-fluid pb-5 pt-5 text-center" style="background-color:#F8B58A">
    <div class="container-lg mt-5 mb-5 pb-5 pt-5">
        <div class="skills-section">
            <div class="skills-title">
                <h1 class="text-center h2" style="color:white">What can I do for you</h1>
            </div>
            <div class="skill-one pt-5 mt-5 mb-5">
                <div class="row mt-5 pt-5">
                    <div class="col-md-6 text-center">
                        <div class="skill-one-pic">
                            <img src="./photos/undraw_pair_programming_re_or4x.svg" style="width:80%" alt="coding.img">
                        </div>  
                    </div>
                    <div class="col-md-6 text-left">
                        <div class="skill-one-desc mb-5">
                            <p class="fs-4" style="color:white"> Create Front-End webpages using a combination of the most sought after javascription frameworks. </p>
                            <div class="dropdown mb-5">
                                <a class="btn btn-light btn-sm dropdown-toggle"  style="color:#760006" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"> Dropdown link </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item"  target="_blank" href="https://ejs.co/">Javascript EJS</a></li>
                                    <li><a class="dropdown-item"  target="_blank" href="https://getbootstrap.com/">Bootstrap</a></li>
                                    <li><a class="dropdown-item"  target="_blank" href="https://reactjs.org/">React.JS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="skill-two pt-5 mt-5 mb-5 pb-5">
                <div class="row pt-5">
                    <div class="col-md-6">
                        <div class="skill-two-desc">
                            <p class="fs-4" style="color:white;" > Create back-end connectivity, including database structuring, using well-kept frameworks </p>
                            <div class="dropdown mb-5">
                                <a class="btn btn-light btn-sm dropdown-toggle"  style="color:#760006" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"> Dropdown link </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item"  target="_blank" href="https://nodejs.org/en/">Node.Js</a></li>
                                    <li><a class="dropdown-item"  target="_blank" href="https://www.djangoproject.com/">Django</a></li>
                                    <li><a class="dropdown-item"  target="_blank" href="https://dotnet.microsoft.com/apps/aspnet">ASP.Net</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="skill-two-pic">
                            <img src="./photos/undraw_maintenance_re_59vn.svg" style="width:100%" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="skill-three mt-5 pt-5">
                <div class="row">
                    <div class="col-md-6">
                        <div class="skill-three-pic">
                            <img src="./photos/undraw_safe_re_kiil.svg" style="width:100%" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="skill-three-desc">
                            <p class="fs-4" style="color:white"> Help guide you or your company on cyber security.</p>
                            <div class="dropdown">
                                <!-- CHANGE CS LINKS -->
                                <a class="btn btn-light btn-sm dropdown-toggle" style="color:#760006" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"> Dropdown link </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" target="_blank" href="https://nodejs.org/en/">Vulnerabilty Scanning</a></li>
                                    <li><a class="dropdown-item" target="_blank" href="https://www.djangoproject.com/">Security Consultation</a></li>
                                    <li><a class="dropdown-item" target="_blank" href="https://dotnet.microsoft.com/apps/aspnet">Pentesting</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include("partials/footer.ejs") %>