/* Global */
*{
    font-family: "Roboto", "sans-serif";
}

/* Banner */

.banner-image{
    text-align: center;
}
.banner-image img{
    width: fit-content;
}

/* Main Page */
.bio-content{
    max-width:74%;
    text-align:left;
    margin:0 auto 0 auto;
}

/* Skill One */

/* Skill Two */

/* Skill Three */

/* Skill Four */

/* Contact */

.contact-image{
    text-align: center;
}
.contact-image img{
    width: 50%;
}